language: python
python:
  - "2.7"

branches:
  only:
    - master

cache:
  - pip

install:
    - pip install flake8 pytest python-novaclient python-neutronclient python-cinderclient

script:
  - py.test
  - flake8

